<launch>
  <include file="$(find rovi_industrial)/std.launch">
    <arg name="robot" value="ur" />
  </include>
  <node pkg="rovi_industrial" type="rjoint_ur.py" name="" output="screen" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <include file="$(find ur_description)/launch/ur5_upload.launch"/>
</launch>
